/* Général */

* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Sans-Serif";
}

h1,
nav>div,
main,
#infos-footer {
    width: 80%;
    min-width: 600px;
    max-width: 1200px;
    box-sizing: border-box;
    margin: auto;
}

a {
    text-decoration: none;
}


/* Elements de page */

.arrow {
    height: 5em;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.icon {
    height: 2rem;
}


/* BANNIERE */

#entete {
    background: #fffea3;
}

#logo-banniere {
    height: 3em;
    margin-right: 0.75em;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

h1>a {
    color: grey;
}


/* MENU de NAVIGATION */

nav {
    background: #dc9e98;
    text-align: center;
    color: white;
    border: 1px solid grey;
    border-left: none;
    border-right: none;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul il {
    margin: 0;
    padding: 0;
}

nav>ul {
    display: flex;
    justify-content: space-around;
}

nav>ul>li>a,
footer a {
    margin-right: 1.5em;
}

nav>ul>li>a:nth-of-type(1) {
    margin-left: 1.5em;
}

nav a,
footer a {
    color: white;
}

nav>ul>li {
    line-height: 3rem;
}

ul>li>ul {
    position: absolute;
    display: none;
    z-index: 5;
}

ul>li:hover>ul {
    background: #dc9e98;
    display: block;
    border: 1px solid grey;
    border-top: none;
    text-align: left;
    padding: 1rem;
    line-height: 1.2rem;
    margin-left: -1rem;
}


/* ARTICLE : recette */

figure,
h2 {
    text-align: center;
}

figure>img {
    width: 300px;
}

article {
    border: 2px solid grey;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1.5em;
    border-radius: 5px;
}

aside {
    display: flex;
    border: 1px dotted grey;
    padding: 1em;
    margin-bottom: 1em;
    box-sizing: border-box;
    margin-top: 2em;
}


/* Formulaires */


/* de connexion */

.form-align {
    max-width: 600px;
    margin: auto;
    background: grey;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 2rem;
}

.form-align input[type="text"],
.form-align input[type="password"] {
    width: calc((600px - 4rem) / 3 * 2);
}

.form-align .champ_aligne {
    display: block;
    width: calc((600px - 4rem) / 3 - 1rem);
    float: left;
    text-align: right;
    margin-right: 1rem;
}

.form-align .radio {
    display: flex;
    flex-wrap: wrap;
}

.form-align .radio>* {
    width: 50%;
    hyphens: auto;
}

.form-align .champ_decale {
    margin-left: calc((600px - 4rem) / 3);
}


/*de recette*/

#edit-recette .champ_aligne {
    display: block;
    width: 250px;
    float: left;
    text-align: right;
}

#edit-recette .champ_decale {
    margin-left: 250px;
}

#edit-recette input,
#edit-recette select,
#edit-recette textarea {
    width: 250px;
}

#edit-recette textarea {
    min-height: 150px;
}

#edit-recette {
    width: 35rem;
    margin: auto;
}


/* formulaires généraux */

input[type="radio"] {
    position: relative;
    top: 0.15rem;
}

label[required]::after {
    content: " *";
    color: red;
    font-weight: bold;
    margin-right: 0.5rem;
}

input[type="text"],
input[type="password"],
select,
textarea {
    margin-top: -0.15rem;
}

label {
    margin-right: 0.5rem;
}


/* FOOTER */

footer {
    background: #82C34D;
    flex-grow: 1;
}

#infos-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


/* Atomiques */

.cleareur {
    clear: both;
    visibility: hidden;
}

.droite {
    text-align: right;
}

.centrer {
    text-align: center;
}

.flex-reparti {
    display: flex;
    justify-content: space-around;
}