/* Général */

body,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Sans-Serif";
}

a {
    text-decoration: none;
}

.cleareur {
    clear: both;
    visibility: hidden;
}

.arrow {
    height: 5em;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.icon {
    height: 2rem;
}


/* POSITIONNEMENT */

h1,
nav>div,
main,
#infos-footer {
    width: 80%;
    min-width: 600px;
    max-width: 1200px;
    box-sizing: border-box;
    margin: auto;
}


/* BANNIERE */

#entete {
    background: #fffea3;
}

#logo-banniere {
    height: 3em;
    margin-right: 0.75em;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

h1>a {
    color: grey;
}


/* MENU de NAVIGATION */

nav {
    background: #dc9e98;
    text-align: center;
    padding: 0.75em;
}

nav a,
footer a {
    margin-right: 1.5em;
    color: white;
}

nav a:nth-of-type(1) {
    margin-left: 1.5em;
}


/* ARTICLE : recette */

figure,
h2 {
    text-align: center;
}

figure>img {
    width: 300px;
}

article {
    border: 2px solid grey;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1.5em;
    border-radius: 5px;
}

aside {
    display: flex;
    border: 1px dotted grey;
    padding: 1em;
    margin-bottom: 1em;
    box-sizing: border-box;
    margin-top: 2em;
}


/* FOOTER */

footer {
    background: #82C34D;
    flex-grow: 1;
}

#infos-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


/* FORMULAIRE d'AJOUT de RECETTE */

.champ_aligne {
    display: block;
    width: 250px;
    float: left;
}

.champ_decale {
    margin-left: 250px;
}

input,
select,
textarea {
    width: 250px;
    box-sizing: border-box;
}

.recquis::after {
    content: " *";
    color: red;
}

textarea {
    min-height: 150px;
}

form {
    width: 35rem;
    margin: auto;
}


/* classes atomiques */

.align_droite {
    text-align: right;
}

.centrer {
    text-align: center;
}